body {
	background-color: #505050;
}

* {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
	margin: 0;
}

.box_top {
	background-color: #909090;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 40px;
	margin-top: 20px;
	box-shadow: 8px 8px 7px black;
}

.box {
	margin: 35px;
	margin-left: 3%;
	top: 5px;
}

.side {
	background-color: #909090;
	box-shadow: 8px 8px 7px black;
	border-radius: 10px;
	padding: 20px;
	width: fit-content;
	float: left;
	text-align: center;
}

.bg {
	background: url('resources/brick.jpg');
	width: 120px;
	height: 70px;
	border: 0;
}

.center {
	background-color: #909090;
	box-shadow: 8px 8px 7px black;
	border-radius: 10px;
	padding: 10px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.right {
	padding:30px;
	padding-bottom: 190px;
}

.left {
	top: 5px;
	padding-left: 32px;
	padding-right: 32px;
}

.loupe {
	float: right;
	padding-top: 10px;
	padding-right: 30px;
}

.search {
	background-color: #89FF88;
	box-shadow: 8px 8px 7px black;
	padding: 10px;
	position: relative;
	border-radius: 10px;
	width: 650px;
	height: 200px;
	top: 700px;
	left: -3%;
}

.milieu {
	background-color: #505050;
	margin-left: 11%;
	margin-right: 11%;
	height: 100%;
}

.border {
	/* border-width: 20px; */
	border-radius: 5px;
	border: 5px solid red;
}

.text {
	position: absolute;
	text-align: left;
	vertical-align: text-top;
}


form {
	position: absolute;
	top: 110px;
}

.elem {
	float :right;
	padding-right:10px;
}

.apple {
	padding:100px;
	position:absolute;
	z-index: 1000;
	width:50px;
	align-content: left;
	left: 64%;
	top: 48%;
	opacity:0;
}

.ikea {
	padding:50px;
	height: 70px;
	position:absolute;
	z-index: 1000;
	width:50px;
	align-content: left;
	left: 40%;
	top: 48%;
	opacity:0;
}

.disney {
	padding:50px;
	height: 70px;
	position:absolute;
	z-index: 1000;
	width:50px;
	align-content: left;
	left: 40%;
	top: 48%;
	/* opacity:0; */
}

form {
	margin-top: 1%;
}

input[type="text"] {
	width : 500px;
	height : 20px;
}

.button {
	/* font-family: 'Courier New', Courier, monospace; */
	bottom: 2px;
	font-size: 18px;
	background-color: #eeeeee;
}

/* .button {
	border-radius: 2px;
	height: 10%;
	font-size: 17px;
	background-color: #eeeeee
} */