body {
	background-image: url()
}

table {
	width:98%;
	line-height: 1.2vh;
}

tr {
	height:2vh;
}

td {
	width:2%;
	border: 1px solid black;
}

h1 {
	font-size: 2.2vw;
	text-align: right;
}

p {
	font-size: 1.8vmin;
	text-align: center;
}
h1 {
	text-align: center
}
td.non_metaux {
	background-color:#cccccc;
}
td.metaux_alcalins {
	background-color: #ffcc99;
}
td.metaux_alc_terr {
	background-color:  #ffff99;
}
td.transition {
	background-color: #e699ff;
}
td.pauvres {
	background-color: #99ff99;
}
td.metalloides {
	background-color: #ccff99;
}
td.halogenes {
	background-color: #99ffff;
}
td.nobles {
	background-color: #9999ff ;
}
td.lanthanede {
	background-color: #ff9999;
}
td.actimide {
	background-color: #ff99ff;
}

.titre {
	text-align: center;
}

.responsive {
	max-width: 5%;
  }

 .empty {
	border: 0px;	
 }
.num {
	text-align: left;
	font-size: 1.2vmin;
}
.mass {
	text-align:right;
	font-size: 1.2vmin;
}