
body{
    font-family:Arial;
}

* {
	text-align: center;
}

ul.menu li{
    display: none;
    padding:10px 10px 10px 20px;
    border-top:1px solid black;
}

ul.menu li:first-child{
    display: block;
	border-top:0px;
}

ul.menu:hover li{
    display:block;
}

ul.menu:hover li:first-child{
    background-color: skyblue;
}

li:hover {
	background-color: skyblue;
}

ul.menu{
    background-color:rgb(69, 119, 212);
	width:80%;
	margin-left:10%;
	margin-right:10%;
    padding:0px;
    float:left;
}